.box{
    margin: 300px;
    width: 100px;
    height: 100px;
    animation-name: box;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    background-color: red;
}
@keyframes box{
    0%{
        background-color: red;
    }
    25%{
        background-color: red;
        transform: translateY(500px);
    }
    50%{
        background-color: blue;
        transform: translate(500px, 500px);
    }
    75%{
        background-color: green;
        transform: translate(500px, 0%);
    }
    100%{
        background-color: yellow;
        transform: translate(0%, 0%);
    }
}